body{
    font-family: 'Poppins', sans-serif;
}
.top-head{
    color: rgb(123, 223, 24);
    text-align: center;
}
section{
    padding-bottom: 150px;

}
.section-item{
    display: flex;
    
}
.tomato{
    color: tomato;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.tex{
    margin-top: 3%;
    
}
.half-width img{
    width: 80%;

    
   
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(247, 50, 92));
    padding: 7px;
    color: white;
    border-radius: 6px;
    
}
.about-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: ;
}


.recipice-item{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding:10px 10px ;

    box-shadow: 15px 10px 30px gray;

}
.recipice-item img{
    width: 100%;
    
   
}


.recipice-tex{
    text-align:center;
    width: 80%;
    margin-left: 10%;     
}



.recipice-tex p{
    
}

.folllowers{
    display:flex;
    width:80%;
    margin-left: 10%;
    padding: 20px;
    box-shadow: 10px 10px 30px rgb(211, 101, 101);
    
}
.followers-item{
    width: 15%;
    margin-left: 15%;
   
}

.footer-area{
    text-align: center;
    padding: 70px ;
    margin-top: 100px;
    
    background-color: rgb(37, 27, 27);
    
}

